In [26]:
import numpy as np
import pandas as pd
import scipy.stats as sps
from statsmodels.stats.weightstats import _tconfint_generic

In [3]:
water_df = pd.read_csv('water.txt', header = 0, sep = '\t')
water_df

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [42]:
mean = water_df['mortality'].mean()
std = water_df['mortality'].std()
bot_mean, top_mean = _tconfint_generic(mean, std / np.sqrt(len(water_df)), water_df.shape[0] - 1, 0.05, 'two-sided')
print(mean, bot_mean, top_mean)

1524.1475409836066 1476.0833413552848 1572.2117406119285

In [37]:
water_south = water_df[water_df['location'] == 'South']
mean_south = water_south['mortality'].mean()
std_south = water_south['mortality'].std()
bot_mean_south, top_mean_south = _tconfint_generic(mean_south, std_south / np.sqrt(water_south.shape[0]), water_south.shape[0]-1, 0.05, 'two-sided')
print(mean_south, bot_mean_south, top_mean_south)

1376.8076923076924 1320.1517462936238 1433.463638321761

In [38]:
water_north = water_df[water_df['location'] == 'North']
mean_north = water_north['mortality'].mean()
std_north = water_north['mortality'].std()
bot_mean_north, top_mean_north = _tconfint_generic(mean_north, std_north / np.sqrt(water_north.shape[0]), water_north.shape[0]-1, 0.05, 'two-sided')
print(mean_north, bot_mean_north, top_mean_north)

1633.6 1586.5605251961385 1680.6394748038613

In [39]:
hard_south = water_df[water_df['location'] == 'South']
mean_hard_south = hard_south['hardness'].mean()
std_hard_south = hard_south['hardness'].std()
bot_hard_mean_south, top_hard_mean_south = _tconfint_generic(mean_hard_south, std_hard_south / np.sqrt(hard_south.shape[0]), hard_south.shape[0]-1, 0.05, 'two-sided')
print(mean_hard_south, bot_hard_mean_south, top_hard_mean_south)

69.76923076923077 53.467198692036106 86.07126284642544

In [40]:
hard_north = water_df[water_df['location'] == 'North']
mean_hard_north = hard_north['hardness'].mean()
std_hard_north = hard_north['hardness'].std()
bot_hard_mean_north, top_hard_mean_north = _tconfint_generic(mean_hard_north, std_hard_north / np.sqrt(hard_north.shape[0]), hard_north.shape[0]-1, 0.05, 'two-sided')
print(mean_hard_north, bot_hard_mean_north, top_hard_mean_north)

30.4 21.42248728572426 39.37751271427574

In [25]:
z = sps.norm(0, 1).ppf(0.975)
N = (z / 0.1) ** 2
N

384.14588206941244